<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('.today') %></h3>
  </div>
  <div class="panel-body">
    <p>
      <%= @statposts.size %>
      <%= @newcomments_count.size %>
      <%= @statposts.size %>
      <%= @statuserposts.size %>
      <%= @statsdrafts.size %>
      <%= @statspages.size %>
      <%= @statuses.size %>
      <%= @statcomments.size %>
      <%= @presumedspam.size %>
      <%= @confirmed.size %>
      <%= @unconfirmed.size %>
      <%= @statspam.size %>
    </p>
  </div>
</div>